[Unit]
Description=TOR Server
After=network.target

[Service]
ExecStart=sudo /home/pi/TOR/torenvRP4/bin/python3 -u -m tor.server.TORServer
WorkingDirectory=/home/pi/TOR/
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target